<form class="form-signin">
    <img
        class="mb-4"
        src="/img/vklogo.png"
        alt="vklogo"
        width="72"
        height="72"
    />

    <a
        href="/auth/vkontakte"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
    >
        Авторизоваться
    </a>
</form>
